RewriteOptions inherit
Options -Indexes
AddDefaultCharset utf-8
#php_value date.timezone "Europe/Kiev"

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php [L,QSA]

RewriteRule ^index\.php$ /dist/index.php [L]